# Control de versiones
.git
.gitignore
.gitattributes

# Docker files
.dockerignore
Dockerfile*
docker-compose*.yml

# Entornos locales sensibles
.env.local
.env.*.local

# Archivos temporales y del sistema
~$*
*.tmp
*.temp
*.log
Thumbs.db
Desktop.ini
.DS_Store

# Directorios de IDEs
.vscode/
.idea/

# Dependencias no empaquetadas
node_modules/
npm-debug.log
yarn-error.log
